.dashboard {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    //background-image: url('https://images.unsplash.com/photo-1555999003-3f2bc447570e?ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80');
    
    background-image: linear-gradient(rgba($black, .2), rgba($black, .2)), url('https://images.unsplash.com/photo-1555999003-3f2bc447570e?ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80');
    
    background-size: cover;
    background-position: center;
}