.setup {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-color: $primary;
    //transform: translateX(100vw);
    transition: all 1.3s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    color: $white;
    
    &__progress-bar {
        
        // Progress Bar Styles Go Here
        height: 1rem;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        
        &--inner {
            
            // Inner Style Goes Here
            height: 100%;
            width: 16.66%;
            background-color: rgba($white, .4);
            
            transition: $smooth;
            
        }
        
    }
    
    &__slide {
        
        // Generic Slide Styles Go Here
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--1 {
            
            // Slide 1 Styles

        }
        
        &--2 {
            
            // Slide 2 Styles
            display: none;
            
        }
        
        &--3 {
            
            // Slide 3 Styles
            display: none;
            
        }
        
        &--4 {
            
            // Slide 4 Styles
            display: none;
            
        }
        
        &--5 {
            
            // Slide 5 Styles
            display: none;
            
        }
        
        &--6 {
            
            display: none;
            
        }
        
    }
    
    &__heading {
        
        text-transform: uppercase;
        letter-spacing: .5rem;
        margin-bottom: 2rem;
        
    }
    
    &__subheading {
        
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .4rem;
        margin-bottom: 2rem;
        
    }
    
    &__content {
        
        width: 40vh;
        
        p {
            
           line-height: 3.5rem; 
            
        }
        
    }
    
    &__next,
    &__back {
        
        position: absolute;
        display: block;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        cursor: pointer;
        
        i {
            
            font-size: 3.5rem;
            @include centerBox;
            
        }
        
    }
    
    &__next {
        
        right: 5vw;
        
    }
    
    &__back {
        
        left: 5vw;
        
    }
    
    &__submit {
        
        display: block;
        
    }
    
}