.setup {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-color: blue;
    
    &__progress-bar {
        
        // Progress Bar Styles Go Here
        
        &--inner {
            
            // Inner Style Goes Here
            
        }
        
    }
    
    &__slide {
        
        // Generic Slide Styles Go Here
        
        &--1 {
            
            // Slide 1 Styles
            
        }
        
        &--2 {
            
            // Slide 2 Styles
            
        }
        
        &--3 {
            
            // Slide 3 Styles
            
        }
        
        &--4 {
            
            // Slide 4 Styles
            
        }
        
    }
    
}